
.correct {
    background-color: #d4edda;
    color: #1bc543;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 5px;
}

.incorrect {
    background-color: #f8d7da;
    color: #c71e2f;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 5px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #333;
}

.question h3 {
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

#results {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
